## Gather

In [1]:
import pandas as pd
import numpy as np
import os

#load twitter-archive-enhanced.csv into twitter_archive_df
twitter_archive_df = pd.read_csv('twitter-archive-enhanced.csv')

In [2]:
#using Python's Tweepy library and store each tweet's entire set of JSON
#data in a file called tweet_json.txt file.

import tweepy

consumer_key = 'oni8ldMq6eWdFqmzEkKNxXeb0'
consumer_secret = 'vNt4abBD2o9tCmxdtgshuNI3PdDyFjKIL3u9KYfeGAHrytR1l2'
access_token = '1502948607590293511-9Svf54OCv9yQm2itxQmFems5SCU3Tg'
access_secret = 'bw1lyprOfhEAGzRRxF2n3l3Je39YBvTjdMJdTiaObIMfn'

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)

api = tweepy.API(auth, wait_on_rate_limit=True)

import json

page_no_exist = []
retweet_count_and_favorite_count = []

with open('tweet_json.txt', mode="w") as file:
    for i in list(twitter_archive_df.tweet_id):
        try:
            tweet = api.get_status(str(i))
            file.write(json.dumps(tweet._json))
            retweet_count_and_favorite_count.append({
                "tweet_id" : str(i),
                "retweet_count" : tweet._json['retweet_count'],
                "favorite_count" : tweet._json['favorite_count']
            })
        except:
            page_no_exist.append(i)

In [4]:
len(retweet_count_and_favorite_count), len(page_no_exist)

(0, 2356)

In [5]:
retweet_count_and_favorite_count = pd.DataFrame(retweet_count_and_favorite_count, columns=["tweet_id",'retweet_count', 'favorite_count'])

In [6]:
#save the image-predictions.tsv file and load it into image_pred_df

import requests

url = 'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'
response = requests.get(url)

with open ('image-predictions.tsv', mode='wb') as file:
    file.write(response.content)
    
image_pred_df = pd.read_csv('image-predictions.tsv',sep="\t")

In [7]:
image_pred_df.sample(12)

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
782,690005060500217858,https://pbs.twimg.com/media/CZNj8N-WQAMXASZ.jpg,1,Samoyed,0.270287,True,Great_Pyrenees,0.114027,True,teddy,0.072475,False
56,667065535570550784,https://pbs.twimg.com/media/CUHkkJpXIAA2w3n.jpg,1,jigsaw_puzzle,0.560001,False,doormat,0.103259,False,space_heater,0.042568,False
464,675003128568291329,https://pbs.twimg.com/media/CV4XwYiWoAAHQIF.jpg,1,Pembroke,0.655279,True,Pomeranian,0.104164,True,Cardigan,0.052818,True
1788,829861396166877184,https://pbs.twimg.com/media/C4RCiIHWYAAwgJM.jpg,1,Border_terrier,0.394486,True,Staffordshire_bullterrier,0.376574,True,American_Staffordshire_terrier,0.031292,True
1169,736010884653420544,https://pbs.twimg.com/media/CjbV-lEWgAAr6WY.jpg,2,golden_retriever,0.553901,True,Labrador_retriever,0.119475,True,bluetick,0.077475,True
257,670778058496974848,https://pbs.twimg.com/media/CU8VFhuVAAAQW8B.jpg,1,pug,0.776612,True,Brabancon_griffon,0.112032,True,boxer,0.039051,True
1871,844973813909606400,https://pbs.twimg.com/media/C7nzMwTV4AARz4t.jpg,1,Labrador_retriever,0.742421,True,golden_retriever,0.195218,True,Chihuahua,0.017320,True
948,704819833553219584,https://pbs.twimg.com/media/CcgF5ovW8AACrEU.jpg,1,guinea_pig,0.994776,False,hamster,0.004069,False,wood_rabbit,0.000206,False
947,704761120771465216,https://pbs.twimg.com/media/CcfQgHVWoAAxauy.jpg,1,Siamese_cat,0.202294,False,Chihuahua,0.100418,True,basenji,0.072096,True
399,673686845050527744,https://pbs.twimg.com/media/CVlqi_AXIAASlcD.jpg,1,Pekinese,0.185903,True,guinea_pig,0.172951,False,pug,0.166183,True
1196,740373189193256964,https://pbs.twimg.com/media/CkZVdJ6WYAAXZ5A.jpg,3,golden_retriever,0.807644,True,kuvasz,0.101286,True,Labrador_retriever,0.023785,True
122,668221241640230912,https://pbs.twimg.com/media/CUX_rAyWsAYZOQ5.jpg,1,chow,0.395101,True,golden_retriever,0.372115,True,Labrador_retriever,0.148785,True

In [8]:
image_pred_df.shape

(2075, 12)

In [9]:
sum(image_pred_df.duplicated())

0

In [10]:
image_pred_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tweet_id  2075 non-null   int64
 1   jpg_url   2075 non-null   object
 2   img_num   2075 non-null   int64
 3   p1        2075 non-null   object
 4   p1_conf   2075 non-null   float64
 5   p1_dog    2075 non-null   bool
 6   p2        2075 non-null   object
 7   p2_conf   2075 non-null   float64
 8   p2_dog    2075 non-null   bool
 9   p3        2075 non-null   object
 10  p3_conf   2075 non-null   float64
 11  p3_dog    2075 non-null   bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [11]:
twitter_archive_df.head(2)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None

In [12]:
twitter_archive_df.shape

(2356, 17)

In [13]:
twitter_archive_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2356 non-null   int64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2356 non-null   object
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2297 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        2356 non-null   object
 13  doggo                       2356 non-null   object
 14  floofer                     2356 non-null   object
 15  pupper                      2356 non-null   object
 16  puppo                       2356 non-null   object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [14]:
sum(twitter_archive_df.duplicated())

0

In [15]:
sum(twitter_archive_df.source.duplicated())

2352

In [16]:
twitter_archive_df.describe()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,retweeted_status_id,retweeted_status_user_id,rating_numerator,rating_denominator
count,2.356000e+03,7.800000e+01,7.800000e+01,1.810000e+02,1.810000e+02,2356.000000,2356.000000
mean,7.427716e+17,7.455079e+17,2.014171e+16,7.720400e+17,1.241698e+16,13.126486,10.455433
std,6.856705e+16,7.582492e+16,1.252797e+17,6.236928e+16,9.599254e+16,45.876648,6.745237
min,6.660209e+17,6.658147e+17,1.185634e+07,6.661041e+17,7.832140e+05,0.000000,0.000000
25%,6.783989e+17,6.757419e+17,3.086374e+08,7.186315e+17,4.196984e+09,10.000000,10.000000
50%,7.196279e+17,7.038708e+17,4.196984e+09,7.804657e+17,4.196984e+09,11.000000,10.000000
75%,7.993373e+17,8.257804e+17,4.196984e+09,8.203146e+17,4.196984e+09,12.000000,10.000000
max,8.924206e+17,8.862664e+17,8.405479e+17,8.874740e+17,7.874618e+17,1776.000000,170.000000

In [17]:
retweet_count_and_favorite_count.head()

Empty DataFrame
Columns: [tweet_id, retweet_count, favorite_count]
Index: []

In [18]:
retweet_count_and_favorite_count.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tweet_id        0 non-null      object
 1   retweet_count   0 non-null      object
 2   favorite_count  0 non-null      object
dtypes: object(3)
memory usage: 0.0+ bytes

## Quality

Investigation on the twitter_archive_df reveals the following:

1. Redundant retweets rows
2. redundant "in reply to users' tweet" rows
3. wrong rating_numerators in tweet_id 883482846933004288, 778027034220126208, given the number after the decimal point instead of whole numbers
4. dogs without names, but given names of "a" or "an" instead of "None"
 5. some rating_denominator do not equal 10
6. wrong Data types of "timestamp", "tweet_id"
 7. the rows in sources columns are over 95% duplicated
    
Investigation on  the image_pred_df revealed the following:
8. many predictions contains 3 false in image_pred_df, which means those are useless prediction data.

### Tidness

twitter_archive_df

1. redundent columns of same category, which is now divided into ["doggo", "flooter", "pupper", "puppo"] columns, but we only need one "stage" column
2. "retweet count" and "favorite count" columns are not in the twitter_archive_df

## Clean

Step 0: Crate copies

In [19]:
twitter_clean_df = twitter_archive_df.copy()
image_clean_df = image_pred_df.copy()
retweet_and_favorite_clean = retweet_count_and_favorite_count.copy()

### Step 1: Address completenss issues

no missing values

### Step 2: Tackle the tidness issues

Define: convert ["doggo", "flooter", "pupper", "puppo"] columns into one "stage" column, then drop the four columns.

Code

In [20]:
twitter_clean_df['stage']=None
twitter_clean_df['stage'] = twitter_clean_df.doggo + twitter_clean_df.floofer + twitter_clean_df.pupper + twitter_clean_df.puppo

In [21]:
twitter_clean_df['stage'].value_counts()

NoneNoneNoneNone        1976
NoneNonepupperNone       245
doggoNoneNoneNone         83
NoneNoneNonepuppo         29
doggoNonepupperNone       12
NoneflooferNoneNone        9
doggoNoneNonepuppo         1
doggoflooferNoneNone       1
Name: stage, dtype: int64

In [22]:
twitter_clean_df['stage'] = twitter_clean_df['stage'].map(lambda x: x.replace("None",""))

In [23]:
twitter_clean_df['stage'].value_counts()

                1976
pupper           245
doggo             83
puppo             29
doggopupper       12
floofer            9
doggopuppo         1
doggofloofer       1
Name: stage, dtype: int64

In [24]:
twitter_clean_df.loc[twitter_clean_df.stage == 'doggopupper', 'stage'] = 'doggo, pupper'
twitter_clean_df.loc[twitter_clean_df.stage == 'doggopuppo', 'stage'] = 'doggo, puppo'
twitter_clean_df.loc[twitter_clean_df.stage == 'doggofloofer', 'stage'] = 'doggo, floofer'

In [25]:
twitter_clean_df.drop(['doggo', 'floofer', 'pupper', 'puppo'], axis =1, inplace=True)

In [26]:
twitter_clean_df.stage.value_counts()

                  1976
pupper             245
doggo               83
puppo               29
doggo, pupper       12
floofer              9
doggo, puppo         1
doggo, floofer       1
Name: stage, dtype: int64

1. "retweet count" and "favorite count" columns are not in the twitter_archive_df

Define: merge "retweet_count_and_favorite_count" with twitter_clean_df on tweet_id

In [27]:
retweet_and_favorite_clean = pd.DataFrame(retweet_and_favorite_clean, columns=["tweet_id", "retweet_count", "favorite_count"])
twitter_clean_df.tweet_id = twitter_clean_df.tweet_id.astype('str')
twitter_clean_df = pd.merge(twitter_clean_df, retweet_and_favorite_clean,
                on=['tweet_id'], how='left')

In [28]:
twitter_clean_df.retweet_count.describe()

count       0
unique      0
top       NaN
freq      NaN
Name: retweet_count, dtype: object

In [29]:
twitter_clean_df.favorite_count.describe()

count       0
unique      0
top       NaN
freq      NaN
Name: favorite_count, dtype: object

###  Step 3: clean up the quality issues

1. redundant retweets rows

Code

In [30]:
retweets_index = list(twitter_clean_df[twitter_clean_df["retweeted_status_id"].isnull()==False].index)

twitter_clean_df.drop(axis=0, index=retweets_index, inplace=True)

In [31]:
twitter_clean_df.drop(['retweeted_status_id', 
                       'retweeted_status_user_id', 
                       'retweeted_status_timestamp'],
                      axis=1,
                      inplace=True)

### Test

In [32]:
for retweet in retweets_index:
    if retweet in list(twitter_clean_df.index):
        print('Found a retweet')



1. wrong rating_numerators in tweet_id 883482846933004288, 778027034220126208, given the number after the decimal point instead of whole numbers


Define: find the numbers in articles that are float, and save them into 'temp' column temporarily , then convert the rating_ numerator column to float data type and add the right float number into it.

Code

In [33]:
twitter_clean_df['temp'] = twitter_clean_df.text.str.extract(r"([0-9]+[.][0-9]+/[0-9]+)")

In [34]:
twitter_clean_df.rating_numerator = twitter_clean_df.rating_numerator.astype(float)

In [35]:
wrong_numerator_index = list(twitter_clean_df[twitter_clean_df['temp'].isnull()==False].index)
for i in wrong_numerator_index:
    twitter_clean_df.rating_numerator[i] = float(twitter_clean_df.temp[i][:-3])

/tmp/ipykernel_66595/4241216251.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  twitter_clean_df.rating_numerator[i] = float(twitter_clean_df.temp[i][:-3])

In [36]:
twitter_clean_df.drop("temp", axis=1, inplace= True)

Test

In [37]:
for i in wrong_numerator_index:
    print(twitter_clean_df.rating_numerator[i])

13.5
9.75
11.27
9.5
11.26

In [38]:
twitter_clean_df.rating_numerator[45]

13.5



1. dogs without names, but given names of "a" or "an" instead of None

Define: find the list of wrong names and use for loop to give indvidual name "None".

Code

In [40]:
wrong_name_list = list(twitter_clean_df.query('name == "a" or name == "an"').index)

In [41]:
for i in wrong_name_list:
    twitter_clean_df.name[i] = "None"

/tmp/ipykernel_66595/1275921357.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  twitter_clean_df.name[i] = "None"

Test

In [42]:
for i in wrong_name_list:
    if twitter_clean_df.name[i] != "None":
        print("wrong name")



1. some rating_denominator do not equal 10

Define: find the list of rating_denominator != 10, then drop those rows

Code

In [43]:
not_ten = list(twitter_clean_df.query("rating_denominator != 10").index)
twitter_clean_df.drop(index=not_ten, inplace=True)

Test

In [44]:
twitter_clean_df.query("rating_denominator != 10").index

Int64Index([], dtype='int64')

        rong Data types of "timestamp", "tweet_id"

Define: tansfer the data type

Code

In [45]:
twitter_clean_df.timestamp = twitter_clean_df.timestamp.astype('datetime64')
twitter_clean_df.tweet_id = twitter_clean_df.tweet_id.astype(str)

Test

In [46]:
twitter_clean_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2153 entries, 0 to 2355
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   tweet_id               2153 non-null   object
 1   in_reply_to_status_id  73 non-null     float64
 2   in_reply_to_user_id    73 non-null     float64
 3   timestamp              2153 non-null   datetime64[ns]
 4   source                 2153 non-null   object
 5   text                   2153 non-null   object
 6   expanded_urls          2099 non-null   object
 7   rating_numerator       2153 non-null   float64
 8   rating_denominator     2153 non-null   int64
 9   name                   2153 non-null   object
 10  stage                  2153 non-null   object
 11  retweet_count          0 non-null      object
 12  favorite_count         0 non-null      object
dtypes: datetime64[ns](1), float64(3), int64(1), object(8)
memory usage: 235.5+ KB



1. the rows in sources columns are 95% duplicated

Define: delete this column

In [47]:
twitter_clean_df.drop("source",axis=1,inplace=True)

Test

In [48]:
twitter_clean_df.columns

Index(['tweet_id', 'in_reply_to_status_id', 'in_reply_to_user_id', 'timestamp',
       'text', 'expanded_urls', 'rating_numerator', 'rating_denominator',
       'name', 'stage', 'retweet_count', 'favorite_count'],
      dtype='object')



1. many predictions contains 3 false in image_pred_df, which means those are useless prediction data.

Define: find rows that have three false and drop them.

Code

In [49]:
false_3 = list(image_pred_df.query("p1_dog==False and p2_dog==False and p3_dog == False").index)
image_pred_df.drop(index=false_3,inplace=True)

Test

In [50]:
image_pred_df.query("p1_dog==False and p2_dog==False and p3_dog == False").index

Int64Index([], dtype='int64')


### Final step: Store data

In [51]:
image_pred_df.to_csv('image_pred_wrangled.csv')

In [52]:
twitter_clean_df.reset_index(drop=True)
twitter_clean_df.to_csv('twitter_archive_master.csv')

In [53]:
df = pd.read_csv('twitter_archive_master.csv')
df.drop('Unnamed: 0',axis=1, inplace=True)
df.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,text,expanded_urls,rating_numerator,rating_denominator,name,stage,retweet_count,favorite_count
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56,This is Phineas. He's a mystical boy. Only eve...,https://twitter.com/dog_rates/status/892420643...,13.0,10,Phineas,NaN,NaN,NaN
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27,This is Tilly. She's just checking pup on you....,https://twitter.com/dog_rates/status/892177421...,13.0,10,Tilly,NaN,NaN,NaN
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03,This is Archie. He is a rare Norwegian Pouncin...,https://twitter.com/dog_rates/status/891815181...,12.0,10,Archie,NaN,NaN,NaN
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51,This is Darla. She commenced a snooze mid meal...,https://twitter.com/dog_rates/status/891689557...,13.0,10,Darla,NaN,NaN,NaN
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24,This is Franklin. He would like you to stop ca...,https://twitter.com/dog_rates/status/891327558...,12.0,10,Franklin,NaN,NaN,NaN